body {
    margin: 0;
    padding: 0;

    font-family: Verdana;
}

.skay-title {
    background-color: #3b5598;
    color: white;
}

.skay-title h1 {
    margin-left: 50px;
}

.skay-product-list {
    padding-bottom: 30px;
    height: 400px;
}

.skay-brand {
    color: #3B5998;
}

.skay-navbar-link {
    color: white;
    line-height: 40px !important;
}

.skay-order-button {
    background-color: #5F9649;
}

.skay-form-title > h1 {
    color: #3b5598;
}
.skay-form-required  {
    color : red;
}

.skay-form-radio  {
    margin-left: 30px;
}