{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="skay-top-links">
    <ul class="list-inline pull-right">
        <li><a class="btn btn-link" href="../list/">商品一覧</a></li>
        <li><a class="btn btn-link" href="../cart_reset/">カートを空にする</a></li>
        <li><a class="btn btn-link" href="../order/">注文する</a></li>
    </ul>
</div>


<div style="clear: both;">
    {% if products %}
        <table class="table">
            <tr>
                <th></th>
                <th>#</th>
                <th>商品名</th>
                <th>価格</th>
            </tr>
        {% for product in products %}
            <tr>
                <td><img class="thumnail" src="../../media/{{ product.image }}" alt="" width="100" height="100" border="0"/></td>
                <td>{{ product.id | stringformat:"04d" }}</td>
                <td>
                    <h3>{{ product.name }}</h3>
                    <p style="color: gray;"><small>{{ product.description }}</small></p>
                    <a href="../cart_delete/{{ product.id }}">カートから削除する</a>
                </td>
                <td><strong>¥ {{ product.price | intcomma }}</strong></td>
            </tr>
        {% endfor %}
        </table>

    {% else %}
        <h2>カートに商品が入っていません</h2>
    {% endif %}
</div>

{% endblock %}
