{% extends 'base.html' %}
{% block content %}

</div>
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 50px;">
            <li><a class="skay-navbar-link" href="../list/">商品一覧に戻る</a></li>
        </ul>
    </div>
</nav>


<div class="skay-form-title container">
    <h1>カート内の商品</h1>
    <div>
        {% if products%}
        <table class="table">
            <tr>
                <th>商品番号</th>
                <th>商品名</th>
                <th>価格</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <div class="skay-form-title">
            <h1>お客様情報の入力</h1>
            <div class="row">
                <div class="col-md-10">
                    <form action="../order_execute/" method="post" onSubmit="check()" name="form1" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-xs-3">お名前 <span class = "skay-form-required">*</span></label>
                            <div class="col-xs-9 form-inline">
                                <label>(姓) </label><input name="last_name" class="form-control" type="text" id="last_name">
                                <label>(名) </label><input name="first_name" class="form-control" type="text" id="first_name">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-3" for="postal_code">郵便番号 <span class = "skay-form-required">*</span></label>
                            <div class="col-xs-9">
                                <input name="postal_code" class="form-control" type="text" id="postal_code" size="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="prefecture">都道府県 <span class = "skay-form-required">*</span></label>
                            <div class="col-xs-9">
                                <input name="prefecture" class="form-control" type="text" id="prefecture" size="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="city">市区町村 <span class = "skay-form-required">*</span></label>
                            <div class="col-xs-9">
                                <input name="city" class="form-control" type="text" id="city" size="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="street1">番地など <span class = "skay-form-required">*</span></label>
                            <div class="col-xs-9">
                                <input name="street1" class="form-control" type="text" id="street1" size="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="street2">建物名など</label>
                            <div class="col-xs-9">
                                <input name="street2" class="form-control" type="text" id="street2" size="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="tel">電話番号 <span class = "skay-form-required">*</span></label>
                            <div class="col-xs-9">
                                <input name="tel" class="form-control" type="text" id="tel" size="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="email">メールアドレス <span class = "skay-form-required">*</span></label>
                            <div class="col-xs-9">
                                <input name="email" class="form-control" type="text" id="email" size="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="payment">決済方法 <span class = "skay-form-required">*</span></label>
                            <div class="skay-form-radio">
                                <div class="col-xs-9">
                                    <div class="radio">
                                        {% for payment in payments %}
                                        <input type="radio" name="payment" id="payment_name" value="{{ payment.id }}" />
                                        <label for="payment_name">{{ payment.name }}</label><br /> {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-offset-3">
                            <input type="submit" class="btn btn-success" value="注文" />
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% else %}
カートが空です。
{% endif %}

{% endblock %}
