{% extends 'base.html' %}

{% block content %}

<a href="../cart_list/">カートの中身を表示する</a>
<a href="../cart_reset/">カートを空にする</a>
<a href="../order/">注文する</a>

<div class="row">
    <ul>
        {% for product in products %}
        <li class="col-sm-4 skay-product-list">
            <img class="thumbnail" src="../../media/{{ product.image }}" alt="" width="200" height="200" border="0" />
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <a href="../cart_add/{{ product.id }}">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                カートに入れる
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}